{% if form.errors %}

	<!-- Error messaging -->
	<div id="errors">
		<div class="alert alert-warning">
			<p>There were some errors in the information you entered. Please correct the following:</p>
			{{ form.non_field_errors }}
			<ul>
				{% for field in form %}
					{% if field.errors %}
                        <li>{{ field.label }}: {{ field.errors|striptags }}</li>
                    {% endif %}
				{% endfor %}
			</ul>
		</div>
	</div>
	<!-- /Error messaging -->
{% endif %}
{{ error_message }}
{% for field in form %}
    <div class="form-group  ">
        <span class="text-danger small">{{ field.errors }}</span>
        <label class="col-md-4 control-label">{{ field.label_tag }}</label>
        <div class="col-md-8">{{ field }}</div>
    </div>
{% endfor %}