{% if request.session.agent_islogged_in %}
    <div class="col-md-2 sidenav">
        <ul class="nav nav-pills navbar-inverse  nav-stacked">
          <li class="active"><a href="#"><h4>Policy Management</h4></a></li>
          <li><a href="{% url 'addcustomer' %}">Add Policy/Customer</a></li>
          <li><a href="{% url 'customerlist' %}">List Customer</a></li>
          <li><a href="{% url 'vehiclelist' %}">List Vehicles</a></li>
          <li><a href="{% url 'paymentlist' %}">List Payments</a></li>
          <li><a href="{% url 'findinfo' %}">Find Customer</a></li>
          <li><a href="{% url 'findinfo' %}">Find Vehicle</a></li>
          <li><a href="{% url 'findinfo' %}">Find Payment</a></li>
          <li><a class="nav-link" href="#">Print Certificate</a></li>
        </ul>
    </div>
{% else %}
    <div class="col-md-2 sidenav">
          <h4 class="btn text-primary btn-lg btn-primary">Agent Portal</h4>

    </div>
{% endif %}
